/* Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Pour prendre toute la page */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
